.HeaderContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    box-shadow: 1px 1px 10px 10px bisque;
    border: 1px solid blanchedalmond;
    background-color: blanchedalmond;
}
.ShopOurStori {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 30px;
    color: black;
}

.shop {
    margin-top: 50px;
    margin-left: 900px;
    color: white;
}
.our_stori{
    color: white;
    margin-top: 50px;
}
.shop:hover{
    color: greenyellow;
}
.our_stori:hover{
   color: greenyellow;
}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 380px;
}
.Languages{
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 30px;
   
    gap: 20px;
}

.Ru{
    background-color: rgb(153, 233, 32);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


